.containerr {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 20px; 
  flex-direction: row;
}
.App {
  background-color: #E5E5E5;
}

@media screen and (max-width: 768px) {
  .header-class-name { /* Replace with the actual class name of your header */
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .containerr {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .name {
   display: none;
  }

}

.name {
  position: relative;
  right: 150px;
  width: 100%;
  align-items: center;
}

.name h1 {
  size: 3040px;
  width: 740px;
  color: #D7D7D8;
  letter-spacing: 30px;
 
  
}